:root {
    --blue: #2196F3;
    --dark-grey: #212121;
    --light-grey: #757575;
    --black: #000;
    --white: #fff;
    --buttons: #F5F4FA;
    --footer: #2F303A;
}

.grid {
    display: flex;
    gap: 20px;
    padding: 20px;
}

img {
    max-width: 100%;
}

body {
    font-family: Roboto;
    max-width: 1600px;
    margin: 0;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
}

.nav-left-site {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-right: 93px;
}

.logo-color-web {
    color: var(--blue)
}

.logo-color-studio {
    color: var(--black);
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.nav-link:hover, .contact:hover, .footer-item:hover {
    color: var(--blue);
}

.contact {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contact-links {
    display: flex;
    gap: 50px;
    align-items: center;
}

.order {
    background-color: var(--dark-grey);
}

.order-cont {
    padding: 200px;
}

.order-header {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}

.justify-btn {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
}

.order-btn {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.order-btn:hover {
    background-color: var(--white);
    color: var(--blue);
}

.main-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--dark-grey);
}

.main-grid {
    display: flex;
}

.main-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-grey);
}

.offert {
    margin-top: 133px;
}

.offert-header {
    line-height: 42.19px;
    color: var(--dark-grey);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.offert-list {
    display: flex;
    gap: 30px;
}

.team-section {
    background-color: #F5F4FA;
}

.team-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    text-align: center;
    padding-top: 94px;
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    justify-content: space-evenly;
}

.team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
}

.team-proffesion {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer {
    background-color: var(--footer);
}

.footer-spaceing {
    padding: 60px;
    margin: 0;
}

.address-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white);
}

.container {
    margin-top: 94px;
}

.btn-section {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btn-filter {
    background-color: var(--buttons);
    color: var(--black);
    border: none;
    cursor: pointer;
    width: 121px;
    height: 38px;
}

.btn-filter:active {
    background-color: var(--blue);
    color: var(--white);
}

.btn-filter:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px #0000001F;
}

.project-list {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.project-item {
    background: var(--white);
    border: 1px solid #EEEEEE;
    margin-left: 0px;
}

.project-item-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--dark-grey);
}

.project-item-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--light-grey);
}
