:root {
    --blue: #2196F3;
    --dark-grey: #212121;
    --light-grey: #757575;
    --black: #000;
    --white: #fff;
    --footer: #2F303A;
}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

body {
    font-family: Roboto;
}

.logo-color-web {
    color: var(--blue)
}

.logo-color-studio {
    color: var(--black);
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

}

.nav-link:hover, .contact:hover, .footer-item:hover {
    color: var(--blue);
}

.contact {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.order {
    background-color: var(--dark-grey);
}

.order-header {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}

.order-btn {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.order-btn:hover {
    background-color: var(--white);
    color: var(--blue);
}

.main-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--dark-grey);
}

.main-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-grey);
}

.offert-header {
    line-height: 42.19px;
    color: var(--dark-grey);
}

.offert-list {
    list-style-type: none;

}

.team-section {
    background-color: #F5F4FA;
}

.team-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
}

.team-list {
    list-style-type: none;
}

.team-item {
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    ;
}

.team-name {
    text-align: center;
    padding-left: 99px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
}

.team-proffesion {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

footer {
    background-color: var(--footer);
}

.address-list {
    list-style-type: none;
}

.address-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white);
}

.btn-filter {
    background-color: var(--white);
    color: var(--black);

}

.btn-filter:active, .btn-filter:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.project {
    list-style-type: none;
}

.project-item {
    background: var(--white);
    border: 1px solid #EEEEEE;
}

.project-item-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--dark-grey);
}

.project-item-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--light-grey);
}
