.banner {
    background-color: $dark-grey;
    background-image: url(../images/background-img.jpg), url(../images/background-cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    
    &__container {
        padding: 200px 15px;
        text-align: center;
    }
    &__header {
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white;
    }
    &__btn {
        margin-top: 30px;
        background: $blue;
        color: $white;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        padding: 10px 41px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
}