.footer {
    background-color: $footer;
    padding: 60px 0;
    &__flex {
        display: flex;
        gap: 70px;
    }
    &__item {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $white;
        text-decoration: none;
        &:hover {
            color: $blue;
        }
    }
}

.join-us {
    margin-top: 12px;
    &__header {
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16.41px;
        padding-bottom: 20px;
    }
}

.join-us-icons {
    display: flex;
    gap: 10px;
    max-height: 44px;
    &__icon-box {
        text-decoration: none;
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: $blue;
        }
    }
    &__svg {
        fill: $white;
    }
}

.newsletter {
    margin-top: 10px;
    &__header {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
    }
    &__flex {
        margin-top: 20px;
        display: flex;
        gap: 12px;
    }
    &__input {
        background-color: transparent;
        border: 1px solid #FFFFFF4D;
        border-radius: 4px;
        height: 50px;
        width: 358px;
        padding-left: 16px;
        &:focus, &:hover {
            background-color: transparent;
            color: $white;
        }
    }
}

.newsletter-btn {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 4px;
    margin: 0;
    background-color: $blue;
    color: $white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
        background-color: $light-grey;
    }
    &__content {
        display: flex;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }
}