
.logo {
    font-family: Raleway;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    &--blue {
        color: $blue;
    }
    &--black {
        color: $black;
    }
    &--white {
        color: $white;
    }
}